.projects {
    background-color: #f9f9f9;
    padding: 15rem 0;

    .container {
        margin: 0 auto;
        max-width: 107rem;
        padding: 0 4rem;

        .project-content {
            .project-title {
                color: #2d2e32;
                font-size: 1.7rem;
                margin-bottom: 2rem;
                position: relative;
                text-transform: uppercase;
            }

            p {
                color: #147efb;
                font-size: 1.7rem;
                font-weight: 700;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

            .project-description {
                color: #767676;
                font-size: 1.7rem;
                font-weight: 500;
                text-align: center;
                text-transform: none;
                margin-bottom: 1rem;
            }

            h4 {
                color: #2d2e32;
                font-size: 2.5rem;
                margin-bottom: 3rem;
            }

            .projects-list-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .projects-list {
                    display: flex;
                    height: 37rem;
                    padding: 2rem;
                    background-color: #fff;
                    border-radius: 1.7rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    width: 100%;

                    .project-display {
                        width: 50%;

                        img {
                            background-color: hsla(0, 0%, 46%, 0.2);
                            border-radius: 1.7rem;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            height: auto;
                            overflow: hidden;
                            width: 20%;
                            transform: translateY(0%);
                            transition: transform 10s ease-in-out 0s;
                            height: 100%;
                            width: 100%;

                        }
                    }

                    .project-info {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        width: 30rem;
                        width: 50%;
                        padding: 0 6rem;
                        height: 100%;

                        .tech-stack {
                            display: flex;
                            gap: 1rem;
                            justify-content: center;
                            margin-top: 1rem;

                            .tech1,
                            .tech2 {
                                background-color: #fff;
                                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                                color: #000 !important;
                                font-family: Mulish, sans-serif !important;
                                font-weight: 600 !important;
                                padding: 1rem 1.3rem;
                                margin-bottom: 1rem;
                                font-size: 1.7rem;
                                font-weight: 500;
                                text-align: center;
                                text-transform: none;
                            }
                        }

                        .project-source-view {
                            display: flex;
                            gap: 1rem;
                            justify-content: space-evenly;
                            margin-top: 3rem;

                            a {
                                color: #2d2e32;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                padding: 1rem 1.3rem;
                                border-radius: 1rem;
                                font-size: 1.7rem;
                                font-weight: 500;
                                text-decoration: none;
                                align-items: center;
                                display: flex;

                                .fa-github {
                                    padding-left: 1rem;
                                }

                                &:hover {
                                    color: #317EFB;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .projects {
        padding: 5rem 0;

        .container {
            .project-content {
                .projects-list-wrapper {
                    .projects-list {
                        flex-direction: column;
                        height: 57rem;
                        align-items: center;
                        gap: 0;

                        .project-display {
                            width: 100%;

                            img {
                                width: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}