.section-wrapper {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;

    .main-container {
        margin: 0 auto;
        max-width: 107rem;
        padding: 0 4rem;

        .content {
            align-items: center;
            display: flex;
            gap: 10rem;
            height: 65rem;
            justify-content: center;
            position: relative;

            .hero-main {
                display: flex;
                align-items: center;
                gap: 10rem;
                justify-content: center;
                position: relative;

                .hero-text {
                    h1 {
                        color: #2d2e32;
                        font-size: 5.5rem;
                        line-height: 1.2;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }

                    p {
                        color: #555;
                        font-family: Mulish, sans-serif;
                        font-size: 1.8rem;
                        font-weight: 500;
                        line-height: 1.6;
                    }

                    span {
                        cursor: pointer;
                        display: flex;
                        gap: 1.3rem;
                        margin: 2.5rem 0;

                        a {
                            color: #2d2e32;
                            font-size: 3rem;

                            &:hover {
                                color: #317EFB;
                            }
                        }
                    }

                    img {
                        height: 6rem;
                        position: absolute;
                        right: 62rem;
                        top: 13rem;
                        width: 6rem;
                    }
                }
            }

            .skills {
                align-items: center;
                bottom: 3.125rem;
                color: #767676;
                display: flex;
                font-size: 1.7rem;
                left: 0;
                position: absolute;

                .tech-stack-para {
                    border-right: 2px solid rgba(45, 46, 50, .5);
                    color: #2d2e32;
                    font-family: Mulish, sans-serif;
                    font-weight: 600;
                    margin-right: 5rem;
                    padding-right: 2rem;
                }

                .logos {
                    ul {
                        display: flex;
                        list-style: none;
                        gap: 3rem;

                        li {
                            align-items: center;
                            background-color: #fff;
                            border-radius: 50%;
                            box-shadow: 0 0 10px rgba(0, 0, 0, .09);
                            cursor: pointer;
                            display: flex;
                            height: 6.5rem;
                            justify-content: center;
                            width: 6.5rem;
                            position: relative;
                          .img-description{
                            position: absolute;
                            top: 7.5rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: black;
                          }
                        }

                        li img {
                            height: 3.4rem;
                            width: 3.4rem rem;
                        }

                    }
                }
            }

        }
    }
}