.header-container {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, .09);
    display: flex;
    height: 8rem;
    justify-content: space-between;
    left: 0;
    padding: 1.563rem 2.5rem 1.563rem 3.125rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .logo {
        color: #2d2e32;
        cursor: pointer;
        font-size: 2rem;
        margin-right: 1.875rem;
        margin-left: 2rem;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;

        li a:hover {
            color: #317EFB;
        }

        .icon {
            display: none;
        }

        a {
            color: #2d2e32;
            font-weight: 600;
            font-size: 1.8rem;
            text-decoration: none;
            transition: all .23s;
        }
    }
}

// Responsive

@media screen and (max-width: 768px) {

    .header-container ul li a {
        display: none;
        font-size: 3rem;
    }

    .header-container ul li a.icon {
        float: right;
        display: block;
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .header-container.responsive .logo {
        display: none;
    }

    .header-container.responsive ul {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .header-container.responsive ul li.toggle-nav-icon {
        position: absolute;
        bottom: 56rem;
        left: 39rem;
        &:hover{
            color: #317EFB;
        }
    }

    .header-container.responsive {
        position: fixed;
        box-shadow: none;
        height: 110vh;
    }


    .header-container.responsive ul li {
        margin-bottom: 3.125rem;
    }

    .header-container.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}