footer {
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
    color: white;

    .footer-container {
        margin: 0 auto;
        max-width: 107rem;
        padding: 0 4rem;

        .footer-content {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}